#map {
    width: 100%;
    height: 65vh;
}

body {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    column-gap: 10px;
}

.center {
    text-align: center;
}


#leaderboard-container {
    background-color: rgb(232, 218, 221);
    border-radius: 10px;
}

#notification-container {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Popup container */
.popup-container {
    position: relative;
    display: inline-block;
    /* cursor: pointer; */
}

/* The actual popup (appears on top) */
.popup-container .popup {
    visibility: hidden;
    width: calc(100vw - 16px);
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-container .show {
    visibility: visible;
}

.riddle-answer {
    background-color: pink;
    margin: 0px 10px 10px 10px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.register-body {
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.register-card {
    background-color: #555;
    padding: 20px;

}

.dark-mode {
    color: white;
}

.no-margin {
    margin: 0px;
}